@namespace MiniGames.BlazorGames.BrokenForge
@using MiniGames.BlazorGames.BrokenForge.Shared

<Router AppAssembly="@typeof(BrokenForgeApp).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MiniGames.BlazorGames.BrokenForge.Shared.MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MiniGames.BlazorGames.BrokenForge.Shared.MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>